<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>InventoryPro - Home Page</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="welcome-page">
    <% if (user) { %>
      <div class="tutorial-container">
        <h1>Welcome to InventoryPro, <%= user.username %>!</h1>
        <div class="tutorial">
          <p>How InventoryPro Works</p>
          <h1>Two Steps to Smarter Organizing</h1>
          <div class="steps">
            <div class="step-1">
              <img src="/assets/first.png" alt="">
              <h2>Create Your New Inventory</h2>
            </div>
            <img src="/assets/arrow.png" alt="">
            <div class="step-2">
              <img src="/assets/second.png" alt="">
              <h2>Add Products To Your New Inventory </h2>
            </div>
          </div>
          <button class="button add-inventory">
            <a href="/inventories/new">Create New Inventory</a>
          </button>
        </div>
      </div>
      <div class="tutorial-quote">
        <p><em>"Unlock Efficiency, Unleash Potential: Simplify Inventory Management Today."</em></p>
      </div>
    <% } else { %>
      <div class="image-slogan">
        <div class="slogan">
          <div class="slogan-title">
            Stay Organized, Track Effortlessly: Your Inventory, Your Control.
          </div>
          <div class="slogan-description">
            Effortlessly manage your inventory. Stay organized, track stock levels, and streamline your operations hassle-free.
          </div>
          <div class="benefits">
            <div class="benefit">
              <div class="image">
                <img src="/assets/check.svg" alt="">
              </div>
              <p>Quick and Easy Setup</p>
            </div>
  
            <div class="benefit">
              <div class="image">
                <img src="/assets/check.svg" alt="">
              </div>              
              <p>Intuitive Interface</p>
            </div>
  
            <div class="benefit">
              <div class="image">
                <img src="/assets/check.svg" alt="">
              </div>              
              <p>Accessibility from Anywhere</p>
            </div>
  
            <div class="benefit">
              <div class="image">
                <img src="/assets/check.svg" alt="">
              </div>
              <p>Scalability and Flexibility</p>
            </div>
          </div>
          <button class="button sign-up">
            <a href="/auth/sign-up">CREATE FREE ACCOUNT</a>
          </button>
          <p id="no-credit-card">No credit card required</p>
        </div>
        <img src="/assets/welcome.png" alt="">
      </div>   
    <% } %>
  </div>
</body>
</html>
