<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Create a new Inventory</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="form">
        <h1>Creating a new inventory</h1>
        <form action="/inventories" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
            <!-- implement product later -->
            <button class="button create-inventory" type="submit">Create Inventory</button>
        </form>
    </div>
</body>
</html>