* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.create-product-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

/* Table style */
.product-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

table {
    width: 100%;
}

th,
td {
    text-align: center;
}